* {
	box-sizing: border-box;
	margin: 0;
}

#header-nav {
	background-color: AliceBlue;
	border-bottom: 2px solid black;
	min-height: 100px;
}

#nav-list {
	margin-top: 10px;
}

#nav-list a {
	color: #337ab7;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}
#nav-list a:hover {
	background: white;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 2px solid #337ab7;
}

.navbar-header button.navbar-toggle:focus {
	border: 2px solid white;
	background-color: transparent;
}

.navbar-header .icon-bar {
	border: inherit;
}

.navbar-header button.navbar-toggle {
	clear: both;
}

#content  {
	background-color: AliceBlue;
}

h2, h3 {
	font-weight: bold;
}


@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

}
